@model ReceitaViewModel


<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayFor(modelItem => Model.descricao)
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-info">
                <img src="~/images/@Html.DisplayFor(modelItem => Model.imagem)" alt="@Html.DisplayFor(modelItem => Model.descricao)">
            </td>
            <td class="table-info">
                <p align="left"><b>Regime:</b> @Html.DisplayFor(modelItem => Model.regime)</p>
                <p align="left"><b>Tipo:</b> @Html.DisplayFor(modelItem => Model.tipo)</p>
                <p align="left"><b>Tempo de confeção:</b> @Html.DisplayFor(modelItem => Model.tempo)</p>
                <p align="left"><b>Dose:</b> @Html.DisplayFor(modelItem => Model.dose) pessoas</p>
                <p align="left"><b>Classificação:</b> @Html.DisplayFor(modelItem => Model.classificacao) de 5</p>
                <p align="left"><b>Dificuldade:</b> @Html.DisplayFor(modelItem => Model.dose)</p>
                
            </td>
            <td class="table-info"></td>

        </tr>

    </tbody>
</table>

<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                <b>Preparação</b>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Ingredientes.Values)
        {
            <tr>
                <td class="table-info">
                    <p align="left"><b>@Html.DisplayFor(modelItem => item.descricao). </b></p>
                </td>
            </tr>
        }



    </tbody>
</table>

