@model ReceitaViewModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="//code.responsivevoice.org/responsivevoice.js?key=3G053CLH"></script>

<b>@Html.DisplayFor(modelItem => Model.descricao)</b>

<script  charset="utf-8">
    function speak(input) {
        responsiveVoice.speak(input, "Portuguese Female");
    }
</script>

<script type="text/javascript" src="~/js/eloise.js" charset="iso-8859-1"></script>

<script charset="iso-8859-1">
    var arr = ["Antes de iniciar a receita, certifique-se que tem todos os ingredientes.  Quando estiver pronto para iniciar a receita, diga iniciar ou seguinte. Se não tiver todos os ingredientes poderá descobrir a loja mais próxima através do comando loja."];
    var numero = '@Model.Passos.Count';
    var actual = 0;
    var proximo;
</script>

<div class="container">

   
    <div class="row">

        <div class="col-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                @{
                    var total = @Model.Passos.Count + 1;
                }
                <ol class="carousel-indicators">
                    @foreach (var item in Model.Passos.Values)
                    {

                        <li slidedata-target="#carouselExampleIndicators" data-slide-to="@Html.DisplayFor(modelItem => item.passo)" class="active"></li>

                    }
                    <li slidedata-target="#carouselExampleIndicators" data-slide-to="@total" class="active"></li>
                </ol>
          
                   
                        

                   

          
                <div class="carousel-inner">
                    <script>speak(arr[0]);</script>

                    <img class="d-block w-100" src="~/images/background.png" alt="First slide" width="500" height="500">
                    <div class="carousel-item active">
                        <div class="carousel-caption d-none d-md-block">

                            <b>Antes de iniciar a receita, certifique-se que tem todos os ingredientes:</b>
                            <ul style="list-style-type:none;">
                                @foreach (var item in Model.Ingredientes)
                                {
                                <li>@Html.DisplayFor(modelItem => item.Key.descricao) - @Html.DisplayFor(modelItem => item.Value)</li>
                                }
                            </ul>
                            <b>Quando estiver pronto para iniciar a receita diga 'Iniciar' ou 'Seguinte'</b>
                            
                            
                        </div>
                    </div>
                    @foreach (var item in Model.Passos.Values)
                    {

                        <div class="carousel-item">
                            <div class="carousel-caption d-none d-md-block">
                                <h1>Passo  @Html.DisplayFor(modelItem => item.passo)</h1>
                                <h2><p>@Html.DisplayFor(modelItem => item.tecnica)</p></h2>
                                <script type="text/javascript" charset="utf-8">
                                    arr.push('@Html.Raw(item.tecnica)');
                                </script>
                            </div>
                        </div>
                    }
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Receita Concluída</h1>
                            <p><h2>Bom apetite!</h2></p>
                            <b>Não se esqueça de adicionar aos favoritos:</b>
                            <p align="center"><a id="favorita" href='@Url.Action("SetFavorito", "Receitas", new { id_receita = Model.id})'><img class="d-block" src="~/images/favorite.png" alt="First slide" width="35" height="35"></a></p>
                            <script type="text/javascript" charset="utf-8">

                                arr.push('A receita foi concluída, bom apetite! Se desejar adicionar a receita aos seus favoritos use o comando, Favorita.');
                            </script>
                        </div>
                    </div>
                </div>
                <a id='previous' class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a id='next' class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col">
            <img class=".d-none .d-lg-block .d-xl-none w-100" src="~/images/@Html.DisplayFor(modelItem => Model.imagem)" alt="Second slide" width="350" height="500">
        </div>
    </div>

</div>
<p></p>
<p></p>
<p align="center"><a id="loja" target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/search/continente"><img class="d-block" src="~/images/button_loja.png" alt="First slide"></a></p>
