@model IEnumerable<Eloise.Models.Receita>


@foreach (var item in Model) {
<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.descricao)
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td class="table-info">
                <img src="~/images/@Html.DisplayFor(modelItem => item.imagem)" alt="@Html.DisplayFor(modelItem => item.descricao)">
            </td>
            <td class="table-info">
                @Html.DisplayFor(modelItem => item.regime)
            </td>
            <td class="table-info">
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td class="table-info">
                @Html.DisplayFor(modelItem => item.tempo)
            </td>

        </tr>

    </tbody>
</table>
}
